# Seminar 1. Python Data Structures

## Numeric types
Let's remember integers and floats.

Operator (=) assigns a value to a variable.

In [ ]:
a=4
b=5
print(a, "is of type", type(a))

In [ ]:
print(a + b)
print(4 + 5)

In [ ]:
print(a - a*b)
print(25 - 3*6)

In [ ]:
print((20 - 3*7) / 2)
print(9/5)

Division of two integers returns a floating point number.

In [ ]:
c= b/a  # division returns a floating point number
print(c, "is of type", type(c))

print(c)   # No need to explicitly declare the datatype

Getting the whole part of a number using \\\ operator

In [ ]:
a=4
b=5   
d= b//a
print(d)
print(d, "is of type", type(d))

Getting the remainder using modulo (%) operator

In [ ]:
a=4
b=6   
d= b%a
print(d)
print(d, "is of type", type(d))

Let's remember power operator:

In [ ]:
a=7
b=5   
e= b**a 
print("power is ", e)

Complex numbers have a real part and an imaginary part.

In [ ]:
f=3+5j
print(f, "is of type", type(f))
print("real part is", f.real)
print("imaginary part is", f.imag)

We can do some operations with complex numbers:

In [ ]:
print(f*2)   # multiplication
print(f+3)  # addition
print(f -1)  # subtraction

Booleans can be considered numeric types if 1 would mean True and 0 would mean False.

In [ ]:
print(bool(2))
print(bool(-2))
print(bool(0))

In [ ]:
See_boolean = (4 * 3 > 10) and (6 + 5 >= 11)
print(See_boolean)

if (See_boolean):
    print("Boolean expression returned True")
else:
    print("boolean expression returned False")

## Sequence types
Lists. Arrays are lists containing only one data type (cannot be mixed).

In [ ]:
list0 = list()   # an empty list   
list1 = [1,2,3,4]
list1.append(1)
print("list1 ",list1)

Multiplication with an integer:

In [ ]:
list2 = list1 * 2
print(list2)

Get the maximum and the minimum in a list:

In [ ]:
print("minimum in list 1 is ",min(list1))
print("maximum in list 1 is", max(list1))

Insert a value of 2 at index 0:

In [ ]:
list1.insert(0,2) 
print("updated list 1 is ", list1)

Reverse a list:

In [ ]:
list1.reverse()
print("reversed list 1 is ", list1)

Extend a list:

In [ ]:
list2 = [11,12]
list1.extend(list2)
print("updated list 1 is", list1)

The length and the sum of all elements in a list:

In [ ]:
print("sum of all the elements in list1 is", sum(list1))
print("length of list 1 is ", len(list1))

Sorting a list:

In [ ]:
list1.sort()
print("sorted list 1 is", list1)

Removing elements from a list:

In [ ]:
list1.remove(12)   #remove value 12 form the list
print("list 1 after removal of element 12 is ", list1)

## Dictionaries for text analysis
An example of using dictionaries is to count the occurrences of items in a sequence; a typical example is counting the occurrences of words in a body of text. The following code creates a dictionary where each word in the text is used as a key and the number of occurrences as its value. This uses a very common idiom of nested loops. Here we are using it to traverse the lines in a file in an outer loop and the keys of a dictionary on the inner loop:

In [ ]:
def wordcount(fname):
  fhand=open(fname, 'r')
  # we initialize the counting dictionary
  count = dict() 
  for line in fhand:
     words = line.split()
     for word in words:
       if word not in count:
         count[word] = 1
       else:
         count[word] += 1
  fhand.close()
  return(count)

This will return a dictionary with an element for each unique word in the text file. 

Note the use of the dictionary comprehension used to construct the filtered dictionary.

In the following code, we create another dictionary, filtered, containing a subset of items from count:

In [ ]:
count=wordcount('alice.txt') 
filtered={key:value for key, value in count.items() if value <100 and value>1 }
print(filtered)

## ChainMaps
A ChainMap is a data structure provided by the Python standard library that allows you to treat multiple dictionaries as one.

A ChainMap groups multiple dicts or other mappings together to create a single, updateable view.

In [ ]:
from collections import ChainMap
dict1= {'a':1, 'b':2, 'c':3}
dict2 = {'d':4, 'e':5}
chainmap = ChainMap(dict1, dict2)  # linking two dictionaries
print("print the two linked dictionaries: ")
print(chainmap)

In [ ]:
print("print maps for chainmap", str(chainmap.maps))
print("print keys for chainmap", str(list(chainmap.keys())))
print("print values for chainmap", str(list(chainmap.values())))

Accessing specific values in chainmap:

In [ ]:
print("the value for key 'b' is ", chainmap['b'])
print("the value for key 'e' is ", chainmap['e'])


Creating a ChainMap child with the new_child() method, which is used to add another dictionary object to the ChainMap, at the beginning.

If we have the defaults dictionary:

In [ ]:
defaults = {'theme':'Default','language':'eng','showIndex':True, 'showFooter':True}
cm = ChainMap(defaults)  
print("print maps for chainmap", cm.maps)
print("print keys for chainmap", str(list(cm.keys())))
print("print values for chainmap", str(list(cm.values())))

To create a child of the default chainMap:

In [ ]:
cm2 = cm.new_child({'theme':'bluesky'})
print(cm2)

In [ ]:
print("print value for the value theme is ", cm2['theme']) 
print("print value for the initial value theme ", cm['theme'])

We ca pop out the new value:

In [ ]:
print("print the entry for 'theme' key ", cm2.pop('theme'))  
print("print updated chainmap ", cm2['theme'])

In [ ]:
print(cm2)

## Counter objects
Python Counter is a container that will hold the count of each of the elements present in the container.

Counter is a subclass of a dictionary where each dictionary key is a hashable object and the associated value is an integer count of that object. 

There are three ways to initialize a
counter. We can pass it any sequence object, a dictionary of key:value pairs, or a tuple of
the format (object=value,...), as in the following example:

In [ ]:
from collections import Counter

c1 = Counter('anysequence') # can be a list as well
c2= Counter({'a':1, 'c': 1, 'e':3})
c3= Counter(a=1, c= 1, e=3)
print("print counter 1 is ",c1)
print("print counter 2 is ",c2)
print("print counter 3 is ",c3)

We can populate the Counter with the update method:

In [ ]:
ct = Counter()  # creates an empty counter object
print("print an empty counter----",ct)

ct.update('abca') # populates the object
print("print updated counter ---", ct)

In [ ]:
ct.update({'a':3}) # update the count of 'a'

print("print updated counter",ct)

To access all the items in the counter:

In [ ]:
for item in ct:
   print('%s: %d' % (item, ct[item]))

Let's say we want to print an item which is non existent in the counter:

In [ ]:
print("Print an element which is not present", ct['x'])

The counter can contain negative values as well:

In [ ]:
ct.update({'a':-3, 'b':-2, 'e':2})
print ("updated counter", ct)

print("print sorted elements", sorted(ct.elements()))

print("print most common elements", ct.most_common())

# Exercises
## 1. Suppose you have the following dictionaries:

In [ ]:
dic1 = { 'a' : 1, 'b' : 2 }
dic2 = { 'b' : 3, 'c' : 4 }


*   From collections import ChainMap and create a chain out of these two. Next, print its keys, values and maps.

*   Further, use new_child() to add dic3 = {'f':5} to the chainmap.

## 2. Given the following text, split it in a list of words and apply Counter on it. Next, apply the method .most_common(10) to show the first 10 most common words in text.

In [ ]:
from collections import Counter

text = """The Boat Race 2021 comprised two side-by-side rowing races that took 
place on 4 April. The Boat Race is contested annually between crews from the 
universities of Oxford and Cambridge. Traditionally held on the Championship 
Course in London, the 2021 race instead took place on the River Great Ouse 
near Ely (course map pictured). This was the 75th women's race and the 166th 
men's race; the 2020 race was cancelled as a result of the COVID-19 pandemic. 
Before the 2021 races, Cambridge led 84–80 in the men's race and 44–30 in the 
women's. For the first time, both races were officiated by female umpires, 
Judith Packer and Sarah Winckless. Cambridge's women were strong favourites; 
Oxford took an early lead but Cambridge responded to win. Oxford were slight 
favourites in the men's race, but Cambridge won by just under one length. """

## 3. Let us say your expense for every month are listed below,

    *   January - 2200
    *   February - 2350
    *   March - 2600
    *   April - 2130
    *   May - 2190

Create a list to store these monthly expenses and using that find out:

3.1. In Feb, how many dollars you spent extra compare to January?

3.2. Find out your total expense in first quarter (first three months) of the year.

3.3. Find out if you spent exactly 2000 dollars in any month.

3.4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list

3.5. You returned an item that you bought in a month of April and got a refund of 200$. Make a correction to your monthly expense list based on this.

## 4. Let's say you have a list of your favourite marvel super heros.

In [ ]:
heroes = ['spider man','thor','hulk','iron man','captain america']

Using this find out:
4.1. Length of the list

4.2. Add 'black panther' at the end of this list

4.3. You realize that you need to add 'black panther' after 'hulk', so remove it from the list first and then add it after 'hulk'

4.4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from the list and replace them with doctor strange (because he is cool).
   Do that with one line of code.

4.5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

## 5. Create a list of all odd numbers between 1 and a max number. 
Max number is something you need to take from the user using input() function.

Sources: https://github.com/PacktPublishing/Hands-On-Data-Structures-and-Algorithms-with-Python-Second-Edition

https://github.com/codebasics/data-structures-algorithms-python/